body {
	width: 750px;
	margin: 0 auto;
}

#products {
	margin-top: 50px;
}

#cart {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 8px;

	background: #333;
	color: white;
	text-align: center;
}

#cart input {
	color: black;
}

#cart .toggle {
	cursor: pointer;
	text-decoration: underline;
}

#cart table {
	display: none;
}

#cart table.open {
	display: table;
}
